*.pyc
*.bak
.DS_Store
homeless.py
playground.py
cairo_test.py
mayavi_test.py
random_scenes/
files/
ben_playground.py
ben_cairo_test.py
.floo
.flooignore
.vscode
*.xml
*.iml
media
manim.sublime-project
manim.sublime-workspace
dist/
primes.py
/media_dir.txt
dist/manim-0.0.0-py3.6.egg
manim.egg-info/dependency_links.txt
manim.egg-info/PKG-INFO
manim.egg-info/requires.txt
manim.egg-info/SOURCES.txt
manim.egg-info/top_level.txt
